{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{{ exposed }}
{{ attachment_before }}
{% if all_resources_link is not empty %}
{% block component_wrapper_inner_y %}
  <div class="cta-group" data-component-width="site">
  {% include "@atoms/controls/cta/yds-cta.twig" with {
    cta__element: 'a',
    cta__content: 'All Resources',
    cta__href: all_resources_link,
    cta__component_theme: cta__component_theme|default('one'),
  }%}
  </div>
  {% endblock %}
{% endif %}
{% if rows -%}
  {% embed "@organisms/card-collection/yds-card-collection.twig" with {
    card_collection__featured: 'true',
    card_collection__type: 'grid',
    card_collection__width: 'site',
  } %}
    {% block card_collection__cards %}
      {{ rows }}
    {% endblock %}
  {% endembed %}
{% elseif empty -%}
  {{ empty }}
{% endif %}

{% if all_resources_link is not empty %}
{% block component_wrapper_inner_x %}
  <div class="cta-group" data-component-width="site">
  {% include "@atoms/controls/cta/yds-cta.twig" with {
    cta__element: 'a',
    cta__content: 'All Resources',
    cta__href: all_resources_link,
    cta__component_theme: cta__component_theme|default('one'),
  }%}
  </div>
  {% endblock %}
{% endif %}

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}
