{# Set padding modifier class based on padding_options #}
{% set current_padding = padding_options|default('default') %}
{% set padding_modifier = 'ys-block-wrapper--padding-' ~ current_padding %}

{# If we're in layout-builder, we need to add/wrap a '<div>' around each
component to make them drag-n-droppable #}
{% if attributes.hasClass('js-layout-builder-block') %}
  {% set reusable_class = is_reusable ? 'ys-layout-builder--is-reusable' %}

  <div{{ attributes.addClass('ys-block-wrapper').addClass(padding_modifier).addClass(reusable_class) }}>
    {{ attach_library('ys_themes/ys_themes') }}
    <div class="ys-layout-builder--drag-drop">
    </div>
{% else %}
  {# When not in layout builder, still wrap content with padding classes #}
  <div class="ys-block-wrapper {{ padding_modifier }}">
{% endif %}

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {# To be replaced with component #}
  {% endblock %}

{# Close the wrapper div #}
</div>
